
/* .sidebar {
  background-color: rgba(35, 55, 75, 0.9);
  color: blue;
  padding: 6px 12px;
  font-family: monospace;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  margin: px;
  border-radius: 4px;
} */

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}



body {
  margin: 0;
  padding: 0;
}

@media only screen and (max-width: 500px) {
  .directions-control {
    max-width: 65% !important;
    z-index: 1;
    font: 5px/10px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    height: 50%;
  }
}
.directions-control {
  width: 100% !important;
  z-index: 1;
  font: 5px/10px 'Helvetica Neue', Arial, Helvetica, sans-serif;
  height: 50%;
}
.directions-control-inputs {
  display: none !important;
}
